@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@import url('https://fonts.googleapis.com/css?family=Lobster');

/*font-family: 'PT Sans', sans-serif;*/

h1, h2, h3, h4, h5, h6, nav, th, label, .btn{
    font-family: 'Lobster', cursive;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.form-control:focus {
    border-color: #355C7D;
}

.navbar-inverse {
    background-color: #ebcfc4;
    border-color: #ebcfc4;
}

.navbar-brand{
    font-size: 30px;
}

.navbar{
    font-size: 20px;
    color: black;
}
.navbar-inverse .navbar-brand , .navbar-inverse .navbar-nav>li>a {
    color: #000;
}
